<h1> this is my index page </h1>
<h1> myansible node os is: "{{ansibl_os_family}}" </h1>
<h1> myansible node ip is: "{{ansibl_all_ipv4_addresses}}" </h1>
<h1> myansible node java version is: "{{myjavapackonubuntu}}" </h1>